doctype html
html(leng='en')
    head
        title
        style
            include ./signUpComplete.css
            inlcude ../../styles/reset.css
    body
        #signup-complete-sction
            #signup-complete-wrap
                .title-wrap
                    img.title(
                        src="https://ceo.baemin.com/lockpath/images/logo-ceo.png"
                        alt=""
                    )
                    .suv-title 회원이 되셨습니다.
                .move-main-link
                    a(href="/") 메인으로 &rarr;
                .user-info-wrap
                    .name.row
                        .key 이름
                        .value
                    .id.row
                        .key 아이디
                        .value
                    .email.row
                        .key 이메일
                        .value
                    .phone.row
                        .key 휴대폰
                        .value
                .small-messsage 위 내용은 내 정보관리에서 수정하실 수 있습니다.
        script(type="module")
            include ./signUpComplete.js